certifi
charset-normalizer
greenlet
idna
requests
sniffio
SQLAlchemy
typing_extensions
urllib3
uv
blinker
click
colorama
Flask
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy=
pandas
python-dateutil
pytz
regex
scikit-learn
six
threadpoolctl
tqdm
tzdata
Werkzeug
streamlit
